.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three-title {
    text-transform: uppercase;
    color: red;
    font-size: 15px;
}

.card-section {
    background-color: #8f8f91;
    color: white;
    height: 300px;
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 30px;
}

.card-section h3 {
    font-size: 25px;
    width: 300px;
    line-height: 35px;
}

.card-section a, .section-view a {
    text-decoration: underline !important;
    cursor: pointer;
}

.section-view a {
    margin: 20px;
    color: #111;
}


